.myContainer {
    width: 1200px;
    margin: auto;
    .sun-container {
        width: 1200px;
        height: 400px;
        background-color: lightblue;
        display: flex;
        align-items: center;
        padding: 0 50px 50px;
        .my_sun {
            background-color: yellow;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    .date_wrapper {
        display: flex;
        background-color: darkblue;
        width: 320px;
        height: 100px;
        color: white;
        flex-direction: column;
        .date_wrapper_title {
            width: 100%;
        }
        .my_date {
            width: 140px;
        }
        input {
            color: white;
        }
    }
    .sun_info {
        display: flex;
        justify-content: space-between;
    }
}